.container {
   margin-bottom: 100px;
}

.carousel-item {
    padding: 20px 40px;
    
    
}
h3{
padding-bottom: 20px;
}
.buy-button {
    border: none;
    background-color: black;
    border-radius: 8px;
    color: white;
    
}
.middle-text{
    color: orange;
    padding-top: 20px;
}
.card-footer{
    text-align: center;
    border:none;
    border-radius: 10px;
    box-shadow: 5px 5px 10px lightgrey;
}
.card-body {
    text-align: center;
    background-color:
}
.card {
border:none;
border-radius: 10px;
box-shadow: 5px 5px 10px lightgrey;
}
#middle-text{
    text-align: center;
}


   .category img{
       width: 40%;
   }
 